* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.mainDiv {
  z-index: 100;
  margin:auto;
  width: 100vw;
  justify-content: center;
  /* display: flex; */
  text-align: center;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 6vw;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
  color: #D7E8BA;
}

#k1 {
  position: relative;
  color: #BC3910;
}

#k2 {
  position: absolute;
  top: 40px;
  left: 22%;
  color: #F49E4C;
}

#k3 {
  position: absolute;
  top: 80px;
  text-align: center;
  left: 25%;
  color: #D7E8BA;
}

p {
  font-size: 2rem;
  font-family: 'Geo', sans-serif;
  color: white;
  border: none;
  padding: 3vh 0;
}

#text {
  display: inline-block;
  width: 50vw;
}

#picture img {
  object-fit: cover;
  object-position: center;
  width: 20vw;
  height: auto;
  border: 0 solid black;
  border-radius: 10px;
}
