* {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', 'Sans Serif';
  scroll-behavior: smooth;
  font-size: 16px;
  /* transition: all ease-in-out 5s; */
}

:root {
  --neon-text-color: white;
  --neon-border-color: rgba(188, 57, 16, .2);
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
}

h2 {
  font-family: 'Monoton', cursive;
  font-size: 7rem;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
  color: white;
}

h3 {
  font-size: 4rem;
  font-weight: 500;
}

h4 {
  font-size: 2.5rem;
  font-weight: 400;
}

.names {
  vertical-align: middle;
  position: relative;
  /* top: 25%; */
  width: 300px;
  height: 100vh;
  left: 10%;
}

p {
  font-size: 2rem;
}

.flicker-in-1 {
	-webkit-animation: flicker-in-1 2s both;
	        animation: flicker-in-1 2s both;
          animation-delay: .5s;
}

@-webkit-keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


 .name1 {
  position: absolute;
  top: 50%;
  transform: translate(0, -60%);
}

@keyframes flickerbox {
0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
  box-shadow:
            0 0 .5rem rgba(255, 255, 255, .5),
            inset 0 0 .5rem rgba(255, 255, 255, .5),
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);
    }

    20%, 24%, 55% {
        box-shadow: none;
    }
  }

  @keyframes flickertext {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow:
                -0.2rem -0.2rem 1rem #fff,
                0.2rem 0.2rem 1rem #fff,
                0 0 2rem var(--neon-text-color),
                0 0 4rem var(--neon-text-color),
                0 0 6rem var(--neon-text-color),
                0 0 8rem var(--neon-text-color),
                0 0 10rem var(--neon-text-color);
      }

      20%, 24%, 55% {
          text-shadow: none;
      }
    }

a {
  font-style: normal;
  font-size: 2rem;
}

.toplinks {
  color: white;
  text-decoration: none;
  border: none;
}

ul li:nth-child(3) .toplinks{
  color: #bc3910;
  position: absolute;
  left: 20px;
}

ul li:nth-child(2){
  padding-left: 200px;
  left: 100px;
}

.descriptors {
  line-height: 200px;
}

/* a:hover {
  text-decoration: underline;
  animation: flickertext 1.5s infinite alternate;
} */

img.arrow{
  position: absolute;
  top: 90vh;
  left: 49%;
  animation: bounce 2s ease-in-out 1.5s infinite;
}

@keyframes bounce {
  0%, 20%, 90%{transform: translateY(0);}
  30%, 50%{transform: translateY(30px);}
  40% {transform: translateY(25px);}
}

.verticalNav {
  position: absolute;
  top: 40vh;
  left:60vw;
}

/* h3 + p {
  float: right;
} */

.section2 {
  padding: 200px;
  text-align: center;
  align-items: center;
}

.longer-text {
  width: 75%;
  margin: auto;
}

.projectcontainer {
  padding: 0 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 3fr));
  /* This is better for small screens, once min() is better supported */
  /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
  /* grid-gap: 1rem; */
}

.projectcontainer > div {
  /* background: #EDE7F6; */
  /* padding: 1.5rem; */
  border-radius: 1rem;
  text-align: center;
}

.imgwrap {
  padding: 70px 0;
}

/* .section2 h3 > a{
  font-size: 2rem;
  margin-left: 15vw;
  font-weight: 400;
} */

.section2 > div > img {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 700px;
  min-height: 300px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.captionbig {
  padding-left: 25vw;
  font-weight: 400;
}

figure {
  display: flex;
  width: 100%;
  max-height: 10px;
}

figure img {
  width: 75%;
  object-fit: cover;
}

.line-right {
  flex-direction: row-reverse;
  padding: 5px 0;
}

.embedcontainer {
  overflow: hidden;
  padding-top: 1100px;
  position: relative;
}

.card {
  transition: all ease-in-out .5s;
  margin: 30px;
  margin-top: auto;
}

.card:hover{
  transform: scale(1.05);
}

.imgcontainer > a > img {
  object-fit: cover;
  width: 100%;
  height: 400px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.section2 > div > .resume {
  position: absolute;
  border: none;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  /* object-fit: cover; */
}

.padding-top{
  padding-top: 200px;
}

#one.slide-in-left {
	-webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) .2s both;
	        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) .2s both;
}

#two.slide-in-left {
	-webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s both;
	        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s both;
}

#three.slide-in-left {
	-webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) .6s both;
	        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) .6s both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 1550px) {
  .names {
    position: relative;
    /* top: 25%; */
    width: 300px;
    height: 100vh;
    left: 10%;
  }

  .section2 {
    padding: 100px;
  }

  * {
    font-size: 12px;
  }

  .name1 {
    position: absolute;
    top: 50%;
    transform: translate(0, -60%);
  }

  h2 {
    font-family: 'Monoton', cursive;
    font-size: 100px;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .verticalNav {
    position: absolute;
    top: 50vh;
    left:60vw;
  }
  ul li:nth-child(3){
    color: #bc3910;
    position: absolute;
    left: 40px;
  }
  
  ul li:nth-child(2){
    padding-left: 150px;
  }
  
  .descriptors {
    font-style: normal;
    /* text-decoration: none; */
    font-size: 1.8rem;
    font-family: 'Dosis', sans-serif;
    border: none;
    color: white;
    display: block;
    list-style-type: none;
    /* float: left; */
    /* text-align: center; */
    line-height: 100px;
  }

  img.arrow{
    position: absolute;
    width: 25px;
    top: 90vh;
    left: 49%
  }
}



@media only screen and (max-width: 630px) {
  * {
    font-size: 10px;
  }

  .projectcontainer {
    padding: 0;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  }

  .names {
    position: relative;
    /* top: 25%; */
    width: 300px;
    height: 100vh;
    left: 30%;
    transform: translate(-20%, 0);
  }

  .embedcontainer {
    padding-top: 100%;
  }

  .section2 {
    padding: 50px;
  }

  .name1 {
    position: absolute;
    top: 30%;
    transform: translate(0, -60%);
  }

  h2 {
    font-family: 'Monoton', cursive;
    font-size: 50px;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .verticalNav {
    position: absolute;
    top: 50vh;
    left:20vw;
  }
  ul li:nth-child(3){
    color: #bc3910;
    position: absolute;
    left: 20px;
  }
  
  ul li:nth-child(2){
    padding-left: 100px;
  }
  
  .descriptors {
    font-style: normal;
    /* text-decoration: none; */
    font-size: 1.5rem;
    font-family: 'Dosis', sans-serif;
    border: none;
    color: white;
    display: block;
    list-style-type: none;
    /* float: left; */
    /* text-align: center; */
    line-height: 80px;
  }

  img.arrow{
    position: absolute;
    width: 25px;
    top: 90vh;
    left: 47.5%
  }
}
