* {
  margin: 0;
  padding: 0;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

h2 {
  font-family: 'Monoton', cursive;
  font-size: 8rem;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
}

.names {
  position: fixed;
  width: 300px;
  height: 300px;
}

 .name1 {
  position: absolute;
  left: 60px;
  color: #294936;
  /* text-shadow: 5px 5px rgba(255, 255, 255, 0.5); */
  /* animation-name: name1;
  animation-duration: 4s;
  animation-iteration-count: 2; */
  /* float: left; */
}

.name2 {
 position: absolute;
 left: 80px;
 top: 20px;
 color: #5b8266;
 /* text-shadow: 5px 5px rgba(255, 255, 255, 0.5); */
 /* float: left; */
}

.name3 {
  position: absolute;
  left: 100px;
  top: 40px;
  color: #aef6c7;
  text-decoration: underline;
  /* text-shadow: 5px 5px rgba(255, 255, 255, 0.5); */
  /* float: left; */
}

h3 {
  position: absolute;
  font-size: 2rem;
  font-family: 'Monoton', cursive;
  font-weight: 400;
}

/* .name2:hover {
  animation-name: name2;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.name3:hover {
  animation-name: name3;
  animation-duration: 4s;
  animation-fill-mode: forwards;
} */

/* @keyframes name2 {
  0% {
    left: -170px;
    top: 20px;
  }
  50% {
    left: -70px;
    top: 40px;
  }
  100% {
    left: -170px;
    top: 20px;
  }
}

@keyframes name3 {
  0% {
    left: -405px;
    top: 40px;
  }
  50% {
    left: -302px;
    top: 80px;
  }
  100% {
    left: -405px;
    top: 40px;
  }
} */

a {
  font-style: normal;
  text-decoration: none;
  font-size: 2rem;
  font-family: 'Geo', sans-serif;
  color: white;
  /* text-align: center; */
}

a:hover {
  text-decoration: underline;
}

.verticalNav {
  position: relative;
  width: 40vw;
  top: 90vh;
  left:60vw;

}

.verticalNav ul {
  display: flex;
  justify-content: center;
}

.verticalNav li {
  display: block;
  list-style-type: none;
  float: left;
  text-align: center;
  padding-right: 10%;
}
