* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 4vw;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
  color: #D7E8BA;
}

a {
  color: white;
  font-family: 'Geo', sans-serif;
}


/* title container */
.works {
  width: 100vw;
  height: 25vh;
  text-align: center;
}
#k1 {
  position: relative;
  top: 0vh;
  color: #BC3910;
}

#k2 {
  position: absolute;
  top: 2vh;
  left: 2%;
  color: #F49E4C;
}

#k3 {
  position: absolute;
  top: 4vh;
  text-align: center;
  left: 5%;
  color: #D7E8BA;
}


/* main container */
.mainDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  width: 100vw;
  font-family: 'Geo', sans-serif;
}

.text {
  width: 70vw;
  font-size: 2vw;
}

.caption {
  text-align: left;
  font-size: 4vw;
  color: #D7E8BA;
  position: relative;
  left: -5vw;
  line-height: 7vw;
}

.bodytext {
  line-height: 5vw;
  font-family: 'Quattrocento Sans', sans-serif;
}

#Markov {
  width: 50vw;
  border: 0px black solid;
  border-radius: 20px;
}

/* Menu */

.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#menucheck {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 1rem;
  left: 1rem;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-wrap .lines {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  opacity: 1;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .lines > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #D7E8BA;
  transition: all .5s ease;
}

.menu-wrap .lines > div:before,
.menu-wrap .lines > div:after{
  position: absolute;
  content: '';
  z-index: 1;
  width: 100%;
  height: 2px;
  background-color: #D7E8BA;
  top: -10px;
}

.menu-wrap .lines > div:after{
  top: 10px;
}

.menu-wrap #menucheck:checked + .lines > div {
  transform: rotate(135deg);
}

.menu-wrap #menucheck:checked + .lines > div:before,
.menu-wrap #menucheck:checked + .lines > div:after {
  top: 0;
  transform: rotate(90deg);
}

.menu-wrap #menucheck:checked:hover + .lines > div {
  transform: rotate(225deg);
}

.menu-wrap #menucheck:checked ~ .menu {
  visibility: visible;
}

.menu-wrap #menucheck:checked ~ .menu > div{
  transform: scale(1);
  transition-duration: 2s;
}

.menu-wrap #menucheck:checked ~ .menu > div > div{
  opacity: 1;
  transition: opacity .4s ease;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu >div {
  background: rgba(38, 11, 3, 0.8);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex:none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all .5s ease;
}

.menu-wrap .menu >div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.menu-wrap .menu >div > div >ul>li {
  list-style: none;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu >div > div >ul>li>a {
  font-size: 2rem;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu-wrap .menu >div > div >ul>li>a:hover {
  text-decoration: underline;
}
